/* tiny reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}



.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* body */
body {
  background: black;
  font-family: "Roboto Regular", Roboto, sans-serif;

/* navigation */
.main-nav {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid #C71E1E;
  padding: 0;
  
  .menuLi {
    
    a {
      display: block;
      color: white;
      text-decoration: none;
      font-size: 25.5px;
      line-height: 76px;
    }
  }
  
  .menuLiShrink {
    ul {
      display: flex;
      flex-direction: row;
      align-items: right;
      justify-content: space-between;
      flex-wrap: wrap;
      
      li:not(:last-child) {
        padding-right: 10px;
      }
    }
  }
}

  .slides-container {
    color: white;

    img {
      position: relative;
      margin: 0 auto;
    }
  }

  .fetch-container {
    .fetch-result-container {
      color: white;
    }
  }


}
