/* tiny reset */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}

.row-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* body */
body {
  background: black;
  font-family: "Roboto Regular", Roboto, sans-serif;

/* navigation */
.main-nav {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: 1px solid #C71E1E;
  border-image: linear-gradient(to right, #C71E1E, #FF9500);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-image-slice: 1;
  
  .menuLi {
    
    a {
      display: block;
      color: white;
      text-decoration: none;
      font-size: 25.5px;
      line-height: 76px;
      
      &.socials {
        
        img {
          position: relative;
          top: 10px;
        }
      }
    }
  }
  
  .menuLiShrink {
    ul {
      display: flex;
      flex-direction: row;
      align-items: right;
      justify-content: space-between;
      flex-wrap: wrap;
      
      li:not(:last-child) {
        padding-right: 10px;
      }
    }
  }
}



}
